## 00 - Data Prprepation
### <strong>Objective: </strong>
<p>The objective of this notebook is to import, restructure and clean flights (Flight.csv), tickets (Tickets.csv), and airport data (Airport_Codes.csv) data before analysis. </p>

### <strong>Methodology: </strong>
<p>
    1. Read in provided CSV files (Flight.csv, Tickets.csv and Airport_Codes.csv);<br>
    2. Data Wrangling, Validation and Cleaning <br>
        &nbsp;&nbsp;&nbsp;&nbsp; 2.1. Trim data based on business criteria (e.g. round trips only and medium and large airpots only); <br>
        &nbsp;&nbsp;&nbsp;&nbsp; 2.2. Check null values and judgementally treat them (e.g. substitute with zeros or drop respective rows); <br>
        &nbsp;&nbsp;&nbsp;&nbsp; 2.3. Assess the data types in each column and reassign them to the appropriate data types if they are incorrect (e.g., converting from 'Object' to 'DateTime' for date values).<br>
    3. Save cleaned data to CSV files (cleaned_Flight.csv, cleaned_Tickets.csv and cleaned_Airport_Codes.csv) for next steps;<br>

<strong> Please note that we deliberately chose not to identify and remove any outliers in the data preparation step, as our priority is to perserve the completeness of the raw data before conducting any analysis. Subsequently, we will perform additional analysis in <i> 01_airline_core_analysis </i> to identify data distributions and outliers. </strong>
</p>

### <strong>Results: </strong>
<p>Results will have three new CSV files (cleaned_Flight.csv, cleaned_Tickets.csv and cleaned_Airport_Codes.csv) </p>

#### <strong>Import libraries and helper functions</strong>

In [1]:
import pandas as pd
from helper_type_converter import *

#### <strong>1. Read in Raw Data</strong>

In [2]:
df_flights = pd.read_csv('/Users/yuchengliu/Desktop/c1 data challenge/data_raw/Flights.csv')
df_tickets = pd.read_csv('/Users/yuchengliu/Desktop/c1 data challenge/data_raw/Tickets.csv')
df_airport_codes = pd.read_csv('/Users/yuchengliu/Desktop/c1 data challenge/data_raw/Airport_Codes.csv')

print("Imports loaded successfully!")

/tmp/ipykernel_26486/1754582172.py:1: DtypeWarning: Columns (3,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flights = pd.read_csv('/Users/yuchengliu/Desktop/c1 data challenge/data_raw/Flights.csv')

Imports loaded successfully!

#### <strong>2.Data Wrangling, Validation and Cleaning (Flight.csv)</strong>
<p>
    For flights, we do not need to consider any cancelled flights. Hence, we remove them from dataframe.
</p>

In [3]:
print("Total Number of Flights = ", len(df_flights))

df_flights_removed_cancelled = df_flights[df_flights['CANCELLED'] == 0]
print("Total Number of Flights (removed cancelled = ", len(df_flights_removed_cancelled))

Total Number of Flights =  1915886
Total Number of Flights (removed cancelled =  1864272

<p>
For flights, we first check if there are any null values in the dataframe. It turned out that we found a couple of them in ARR_DELAY, AIR_TIME, DISTANCE, and OCCUPANCY_RATE. <br>
We judiciously filled all ARR_DELAY with zero, assuming there was no delay. Then, we dropped any rows with null values, as estimating AIR_TIME, DISTANCE, and OCCUPANCY_RATE without complete information is challenging.
</p>

In [4]:
df_flights_removed_cancelled.isna().sum()

FL_DATE                 0
OP_CARRIER              0
TAIL_NUM                0
OP_CARRIER_FL_NUM       0
ORIGIN_AIRPORT_ID       0
ORIGIN                  0
ORIGIN_CITY_NAME        0
DEST_AIRPORT_ID         0
DESTINATION             0
DEST_CITY_NAME          0
DEP_DELAY               0
ARR_DELAY            4377
CANCELLED               0
AIR_TIME             5027
DISTANCE              610
OCCUPANCY_RATE        310
dtype: int64

In [5]:
#fill null with 0, if reasonable
df_flights_removed_cancelled['ARR_DELAY'] = df_flights_removed_cancelled['ARR_DELAY'].fillna(0)

#drop rows with null
df_flights_cleaned = df_flights_removed_cancelled.dropna()

/tmp/ipykernel_26486/1842833538.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_flights_removed_cancelled['ARR_DELAY'] = df_flights_removed_cancelled['ARR_DELAY'].fillna(0)

<p>
By assessing the data types, we realized that a few columns have incorrect data types, and FL_DATE contains mixed date formats. Therefore, we utilized our helper function to convert the data types to the correct ones.
</p>

In [6]:
#convert data types to correct ones
convert_to_datetime(df_flights_cleaned, 'FL_DATE')
convert_to_num(df_flights_cleaned, 'AIR_TIME')
convert_to_num(df_flights_cleaned, 'DISTANCE')

df_flights_cleaned.info()

/Users/yuchengliu/Desktop/c1 data challenge/helper_type_converter.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df[input_column] = pd.to_datetime(input_df[input_column], format = 'mixed')
/Users/yuchengliu/Desktop/c1 data challenge/helper_type_converter.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df[input_column] = pd.to_numeric(input_df[input_column], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Index: 1858595 entries, 0 to 1915885
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   FL_DATE            datetime64[ns]
 1   OP_CARRIER         object
 2   TAIL_NUM           object
 3   OP_CARRIER_FL_NUM  object
 4   ORIGIN_AIRPORT_ID  int64
 5   ORIGIN             object
 6   ORIGIN_CITY_NAME   object
 7   DEST_AIRPORT_ID    int64
 8   DESTINATION        object
 9   DEST_CITY_NAME     object
 10  DEP_DELAY          float64
 11  ARR_DELAY          float64
 12  CANCELLED          float64
 13  AIR_TIME           float64
 14  DISTANCE           float64
 15  OCCUPANCY_RATE     float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(7)
memory usage: 241.1+ MB

#### <strong>2.Data Wrangling, Validation and Cleaning (Tickets.csv)</strong>
<p>
    For tickets, we only need to consider round trips. Hence, we filter out any tickets that were not round trip.
</p>

In [7]:
df_tickets_round_only = df_tickets[df_tickets['ROUNDTRIP'] == 1.0]

<p>
For tickets, we first check if there are any null values in the dataframe. It turned out that we found a couple of them in PASSENGERS, and ITIN_FARE. Given that both columns are harder to estimate, we dropped any rows with null values.
</p>

In [8]:
print(df_tickets_round_only.isna().sum())

ITIN_ID                 0
YEAR                    0
QUARTER                 0
ORIGIN                  0
ORIGIN_COUNTRY          0
ORIGIN_STATE_ABR        0
ORIGIN_STATE_NM         0
ROUNDTRIP               0
REPORTING_CARRIER       0
PASSENGERS           1197
ITIN_FARE             560
DESTINATION             0
dtype: int64

In [9]:
df_tickets_cleaned = df_tickets_round_only.dropna()

<p>
By assessing the data types, we realized that the ITIN_FARE columns has incorrect data types. Hence, we utilized our helper function to convert the data types to the correct ones.
</p>

In [10]:
convert_to_num(df_tickets_cleaned, 'ITIN_FARE')
df_tickets_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 706849 entries, 0 to 1167284
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ITIN_ID            706849 non-null  int64
 1   YEAR               706849 non-null  int64
 2   QUARTER            706849 non-null  int64
 3   ORIGIN             706849 non-null  object
 4   ORIGIN_COUNTRY     706849 non-null  object
 5   ORIGIN_STATE_ABR   706849 non-null  object
 6   ORIGIN_STATE_NM    706849 non-null  object
 7   ROUNDTRIP          706849 non-null  float64
 8   REPORTING_CARRIER  706849 non-null  object
 9   PASSENGERS         706849 non-null  float64
 10  ITIN_FARE          705561 non-null  float64
 11  DESTINATION        706849 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 70.1+ MB

/Users/yuchengliu/Desktop/c1 data challenge/helper_type_converter.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df[input_column] = pd.to_numeric(input_df[input_column], errors='coerce')

#### <strong>2.Data Wrangling, Validation and Cleaning (Airport_Codes.csv)</strong>
<p>
    For airports, we only need to consider large and medium airports in the US. Hence, we filter out any airports that do not fill into these three categories (Must be medium or large airpot in the US).
</p>

In [11]:
df_airport_large_medium_only = df_airport_codes[ (df_airport_codes['TYPE'] == 'medium_airport') | (df_airport_codes['TYPE'] == 'large_airport')]
df_airport_large_medium_only = df_airport_large_medium_only[ (df_airport_large_medium_only['ISO_COUNTRY'] == 'US')]

<p>
For airports, we check if there are any null values in the dataframe. It turned out that we found a couple of them in ELEVATION_FT, CONTINENT, MUNICIPALITY, and IATA_CODE. We decided to drop CONTINENT and ISO_COUNTRY as we already filtered out any non-US airport and continent does not provide too much valuable information for us. <br>
After dropping the two columns, we dropped any rows with null values as they are harder to estimate, 
</p>

In [12]:
df_airport_large_medium_only.isna().sum()

TYPE              0
NAME              0
ELEVATION_FT      3
CONTINENT       858
ISO_COUNTRY       0
MUNICIPALITY      3
IATA_CODE        37
COORDINATES       0
dtype: int64

In [13]:
df_airport_code_clean = df_airport_large_medium_only.drop(columns=['CONTINENT', 'ISO_COUNTRY'])
df_airport_code_clean.dropna()

,TYPE,NAME,ELEVATION_FT,MUNICIPALITY,IATA_CODE,COORDINATES
6194,medium_airport,Aleknagik / New Airport,66.0,Aleknagik,WKK,"-158.617996216, 59.2826004028"
26143,medium_airport,Lehigh Valley International Airport,393.0,Allentown,ABE,"-75.44080352783203, 40.652099609375"
26144,medium_airport,Abilene Regional Airport,1791.0,Abilene,ABI,"-99.68190002440001, 32.4113006592"
26145,large_airport,Albuquerque International Sunport,5355.0,Albuquerque,ABQ,"-106.609001, 35.040199"
26146,medium_airport,Aberdeen Regional Airport,1302.0,Aberdeen,ABR,"-98.42179870605469, 45.449100494384766"
...,...,...,...,...,...,...
38972,medium_airport,Kahului Airport,54.0,Kahului,OGG,"-156.429993, 20.8986"
38974,medium_airport,Bradshaw Army Airfield,6190.0,Camp Pohakuloa,BSF,"-155.554000854, 19.760099411"
38975,medium_airport,Hilo International Airport,38.0,Hilo,ITO,"-155.04800415039062, 19.721399307250977"
38976,medium_airport,Upolu Airport,96.0,Hawi,UPP,"-155.86000061035156, 20.265300750732422"
39286,medium_airport,Point Lay LRRS Airport,22.0,Point Lay,PIZ,"-163.0050049, 69.73290253"

<p>
By assessing the data types, we determined that all data types are appropriate. No actions needed.
</p>

In [14]:
df_airport_large_medium_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 858 entries, 6194 to 50008
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TYPE          858 non-null    object
 1   NAME          858 non-null    object
 2   ELEVATION_FT  855 non-null    float64
 3   CONTINENT     0 non-null      object
 4   ISO_COUNTRY   858 non-null    object
 5   MUNICIPALITY  855 non-null    object
 6   IATA_CODE     821 non-null    object
 7   COORDINATES   858 non-null    object
dtypes: float64(1), object(7)
memory usage: 60.3+ KB

#### <strong>3. Save cleaned data to CSV files (cleaned_Flight.csv, cleaned_Tickets.csv and cleaned_Airport_Codes.csv) for next steps;</strong>

In [15]:
#after cleaning, let's output all csv files to the clean folder

df_flights_cleaned.to_csv('/Users/yuchengliu/Desktop/c1 data challenge/data_cleaned/cleaned_Flights.csv', index = False)
df_tickets_cleaned.to_csv('/Users/yuchengliu/Desktop/c1 data challenge/data_cleaned/cleaned_Tickets.csv', index = False)
df_airport_code_clean.to_csv('/Users/yuchengliu/Desktop/c1 data challenge/data_cleaned/cleaned_Airport_Codes.csv', index = False)

#end of data load, wrangling and cleaning

In [16]:
#data loss percentage

columns = ['Data', 'Raw Counts', 'Clean Counts', 'Remain%']
data = [('FLIGHTS', len(df_flights),len(df_flights_cleaned), len(df_flights_cleaned)* 100 / len(df_flights)), \
        ('TICKETS', len(df_tickets), len(df_tickets_cleaned), len(df_tickets_cleaned)*100 / len(df_tickets)), \
        ('AIRPORT CODES', len(df_airport_codes), len(df_airport_code_clean), len(df_airport_code_clean) * 100 / len(df_airport_codes))]
df_data_loss = pd.DataFrame(data, columns=columns)

df_data_loss

            Data  Raw Counts  Clean Counts    Remain%
0        FLIGHTS     1915886       1858595  97.009686
1        TICKETS     1167285        706849  60.554963
2  AIRPORT CODES       55369           858   1.549604